@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html,
body {
  font-family: 'Libre Franklin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1b365d;
  color: #fdfbf7;
  font-weight: 400;
  height: 100%;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Marcellus', Georgia, 'Times New Roman', Times, serif;
  line-height: 1.1;
}

a {
  color: #faefd4;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:active,
a:hover {
  color: #d9c89e;
}

.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin-bottom: 50px;
}

.youtube-container iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "sidebar"
    "content"
    "cta"
    "footer";
}
.main-header {
  grid-area: header;
}
.main-content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.main-side {
  grid-area: sidebar;
}
.main-cta {
  grid-area: cta;
}
.main-footer {
  grid-area: footer;
}
@media (min-width: 581px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "sidebar sidebar"
      "content content"
      "cta footer";
  }
}
@media (min-width: 769px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "nav header header"
      "nav content sidebar"
      "nav content sidebar"
      "cta footer footer"
  }
}
